*{
    padding: 0;
    margin: 0;
   
}
body{
    background: rgb(29, 29, 109);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    
}

img{
    width: 10%;
}
.list{
    background-color: black;

}